:root {
    --primary: #9DBF9E;      /* Мятно-зеленый */
    --secondary: #D4A5A5;    /* Пудрово-розовый */
    --accent: #F9DEC9;       /* Персиковый */
    --neutral: #FAF3DD;      /* Кремовый фон */
    --text: #3A506B;         /* Темно-синий текст */
    --warning: #E8AA8C;      /* Оранжевый для важного */
}

.product_card_collection{
	display: flex;
	flex-wrap: 	wrap	;
}

.product_card_collection a{
	text-decoration: 	none	;
	margin: 1rem;
}

.product_card{
	
}

.product_card img{
	width: 	10rem;
	height: 15rem;
	background-color: 	gray;
	object-fit: contain;
	background: #e3e6e3;
	transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.product_card:hover img{
	filter: grayscale(1);
	transform: scale(1.05);
}

.shopping_list_base{
	margin-top: 1rem;
}

.shopping_list_collection{
	display: flex;
	flex-wrap: wrap;
}

.shopping_list_collection a{
	text-decoration: none;
	margin: 1rem;
}

.shopping_list_card{
	padding: 1rem;
}

.shopping_list_card p, h3{
	margin-bottom: 0.2rem;
}

.actual_list{
	background: var(--primary);
}

.bought_list{
	background: var(--warning);
}

.canceled_list{
	background: var(--secondary);
}

.shopping_list_detail_base_info{
	margin-top: 1rem;
}

.shopping_list_detail_base_info p{
	margin-top: 0.5rem;
}

.cart_table{
	margin-top: 1rem;
	border-style: solid;
}

.cart_table_head{
	background: var(--warning);
	border-style: solid;
}

.cart_table td, th{
	padding: 0.5rem;
}

.cart_table a{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 100%;
	height: 100%;
}

.no_product_in_list{
	margin-top: 1rem;
}

.back_to_list{
	margin-top: 1rem;
}

.shopping_list_done{
	margin-top: 1rem;
}

.shopping_list_done a{
	display: inline-block;
	padding: 1rem;
	text-decoration: none;
	background: var(--primary);
}

.shopping_list_done	a:hover{
	background: var(--secondary);
}